<section class="footer">
    <p class="faded">This is not the greatest game in the world. This is just a <a href="https://www.youtube.com/watch?v=_lK4cX5xGiQ">tribute</a>.</p>
    <p>Made by <a href="https://github.com/jvalle/">Jason</a>, <a href="https://github.com/mlms13/">Michael</a> and <a href="https://github.com/stezu/">Stephen</a> for <a href="http://www.nodeknockout.com/">Node Knockout 2015</a></p>
    <iframe src="http://nodeknockout.com/iframe/team-badlands" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
</section>
