<div class="error">
    <h2 class="error__title">Sorry, we encountered an error:</h2>
    <div class="error__message">{{ message }}</div>

    {{#if error}}
        <div class="error__stack-trace">
            {{ error.stack }}
        </div>
    {{/if}}
</div>
