<div class="tweet">
    <div class="tweet__user">
        <a class="tweet__user__link" href="https://twitter.com/{{ user.screen_name }}" title="@{{ user.screen_name }}">
            <img class="tweet__user__image" src="{{ user.profile_image_url_https }}">
        </a>
    </div>
    <div class="tweet__content">{{ text }}</div>
</div>
