html,
body
    background #f6f6f6
    color #444
    text-align center

a
    border-bottom 1px dotted currentColor
    color #444
    text-decoration none
    transition border, color 250ms

    &:hover,
    &:focus
        color: #f00

img
    height auto
    max-width 100%

#game
    margin 0 auto 10px
    width 768px

    canvas
        border-radius 2px

.faded
    opacity 0.75

.shake
    animation-name shake
    animation-duration 600ms

// animation definitions
@keyframes shake
    0%, 100%
        transform translate3d(0, 0, 0)

    10%, 30%, 50%, 70%, 90%
        transform translate3d(-50px, 0, 0)

    20%, 40%, 60%, 80%
        transform translate3d(50px, 0, 0)

// Include styles for the small tweets that we show occasionally
@import "tweet.styl"
