
img
    height auto
    max-width 100%

.shake
    animation-name shake
    animation-duration 600ms

// animation definitions
@keyframes shake
    0%, 100%
        transform translate3d(0, 0, 0)

    10%, 30%, 50%, 70%, 90%
        transform translate3d(-50px, 0, 0)

    20%, 40%, 60%, 80%
        transform translate3d(50px, 0, 0)

// Include styles for the small tweets that we show occasionally
@import "tweet.styl"
