.tweet
    background #f6f6f6
    border 1px solid #e6e6e6
    border-radius 2px
    color #3333333
    overflow hidden
    padding 8px
    width 325px

    &__user
        height 40px
        float left
        width 40px

    &__content
        margin-left 56px

        &--highlight
            background rgba(255, 255, 0, 0.5)
